@import 'jeet'

edit()
html
  font-size: 18px

body
  background-color: #aaa

.paper
  center(1024px)
  position: relative
  background-color: white
  z-index: 0
//- start: Hero Unit
.hero
  center(1024px)
  height: 768px
  background: url(/images/hero/becak-lineup.jpg) center no-repeat
  background-size: cover

.hero-cell
  span(1/4, $cycle: 4)
  height: 256px
  text-align: center
  box-sizing: border-box
  transition: opacity 0.5s ease-in-out
  border: 0 solid white

.hero-cell:nth-child(7)
  background-color: white
  padding-top: 4.2rem
  font: 400 2.2rem/1.4 sans-serif
  color: black
  opacity: 0

.hero-cell:nth-child(10)
  // background-color: white
  // opacity: .8

$hero-border = 6px

.hero-cell:nth-child(4)
  border-width: 0 0 $hero-border $hero-border
  background: url(/images/hero/IMG_4784.jpg) center no-repeat
  background-size: cover
  opacity: 0

.hero-cell:nth-child(5)
  border-width: $hero-border $hero-border $hero-border 0
  background: url(/images/hero/IMG_4773.jpg) center no-repeat
  background-size: cover
  opacity: 0

.hero:hover > .hero-cell:nth-child(4)
.hero:hover > .hero-cell:nth-child(5)
  opacity: 1.0

.hero:hover > .hero-cell:nth-child(10)
  background-color: white
  opacity: 0.8

.hero:hover > .hero-cell:nth-child(7)
  opacity: 1.0
//- end: Hero Unit

artical
  clearfix()
  display: block
  margin: 0 auto
  width: 1024px
  background-color: white

  img
    display: block
    max-width: 100%

  p
    margin-bottom: 1.5rem
    font: 18px/24px tahoma

  &.reverse
    display: flex
    align-items: center
    background-color: black
    color: white
    p
      margin-left: 3.5rem
      margin-right: 3.5rem

  .inner
    center(740px)
    padding-top: 2rem
    padding-bottom: 2rem

  $boxed-border = 10px
  .boxed
    clearfix()
    padding-top: 3rem
    padding-left: 3rem
    padding-right: 3rem
    padding-bottom: 2rem
    img
      border: $boxed-border solid #666
    img+img
      margin-left: (-1 * $boxed-border)

.half-col
  float: left
  width: 50%
  box-sizing: border-box

.third-col
  float: left
  width: 33.3%
  box-sizing: border-box

//- start: parallax section
.main
  // center(1024px)
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

.hero
  position: relative;
  // z-index: -1;
  transform: translateZ(-1px) scale(2);

.intro
.parallax .inner
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;


.parallax
  center(1024px)
  position: relative
  height: 350px
  .image
    position: absolute
    z-index: -2
    width: 1024px
    transform: translateZ(-.2px) scale(1.2);

.pg3
  .parallax
    height: 610px
  .image
    top: -20px
    height: 666px
    background: url('/images/IMG_0102.jpg')
.pg4
  .parallax
    height: 650px
  .image
    top: -30px
    height: 768px
    background: url('/images/IMG_5547.jpg')
.pg6
  .parallax
    height: 650px
  .image
    top: -30px
    height: 768px
    background: url('/images/IMG_5818.jpg')
.pg8
  .parallax
    height: 960px
  .image
    top: -30px
    height: 1024px
    background: url('/images/IMG_5921.jpg')
.pg10
  .parallax
    height: 960px
  .image
    top: -30px
    height: 1024px
    background: url('/images/IMG_6019.jpg')

.pg12
  .parallax
    height: 700px
  .image
    top: -30px
    height: 731px
    background: url('/images/IMG_6093.jpg')

.pg15
  .parallax
    height: 740px
  .image
    top: -30px
    height: 792px
    background: url('/images/IMG_6314.jpg')
//- end: parallax section

//- start: Pages custom css
.intro
  padding: 1.5rem 0 25rem
  background: white url(/images/large/becak_all.jpg) no-repeat
  background-position: 5rem 12rem

.pg2
  display: flex
  justify-content: center
  align-items: center
  height: 722px
  background: url(/images/cab-frame-top.png) center no-repeat
  background-size: cover
  img
    border: .9rem solid black

.pg7
  padding-bottom: 7rem
  background: white url(/images/toe-step.png) 0 97% no-repeat
  background-size: contain

.pg11
  background: url(/images/cab-frame-side.png) bottom no-repeat
  background-size: cover

.pg12
  artical
    background: url(/images/grill.png) bottom no-repeat
    background-size: 110%

.pg13
  background: url(/images/seat-backrest.png) bottom no-repeat
  background-size: cover
