@import 'jeet'

edit()
html
  font-size: 19px
  font-family: georgia,'times new roman',times,serif

body
  // background-color: #aaa
header
  center(1024px)
  nav
    clearfix()
    padding: 15px
    font-size: 0.8rem
    .logo
      display: block
      float: left
      width: 7rem
      font-family: Tahoma, sans-serif
    a
      display: block
      float: right
      white-space: nowrap
      font-family: Tahoma, sans-serif
      margin-left: 2rem
      color: #999
      text-decoration: none
    a:hover
      color: black

//- start: Hero Unit
.hero
  // margin-top: 20px
  margin-bottom: 10px
  height: 768px
  background: url(/images/hero/becak-lineup.jpg) center no-repeat
  background-size: cover

.hero-cell
  //- span(1/4, $cycle: 4)
  display: block
  float: left
  height: 256px
  width: 256px
  text-align: center
  box-sizing: border-box
  transition: opacity 0.5s ease-in-out
  border: 0 solid white

.hero-cell:nth-child(7)
  background-color: white
  padding-top: 4.2rem
  font-size: 2.2rem
  line-height: 1.4
  color: black
  opacity: 0

.hero-cell:nth-child(10)
  // background-color: white
  // opacity: .8

$hero-border = 6px

.hero-cell:nth-child(4)
  border-width: 0 0 $hero-border $hero-border
  background: url(/images/hero/IMG_4784.jpg) center no-repeat
  background-size: cover
  opacity: 0

.hero-cell:nth-child(5)
  border-width: $hero-border $hero-border $hero-border 0
  background: url(/images/hero/IMG_4773.jpg) center no-repeat
  background-size: cover
  opacity: 0

.hero-cell:nth-child(12)
  border-width: $hero-border 0 0 $hero-border
  background: url(/images/hero/arie-becak.jpg) center no-repeat
  background-size: cover
  opacity: 0

.hero:hover > .hero-cell:nth-child(4)
.hero:hover > .hero-cell:nth-child(5)
.hero:hover > .hero-cell:nth-child(12)
  opacity: 1.0

.hero:hover > .hero-cell:nth-child(10)
  background-color: white
  opacity: 0.8

.hero:hover > .hero-cell:nth-child(7)
  opacity: 1.0
//- end: Hero Unit

artical
  clearfix()
  display: block
  margin: 0 auto
  width: 1024px
  background-color: white
  background-repeat: no-repeat

  img
    display: block
    max-width: 100%

  p
    margin-bottom: 1.5rem
    line-height: 1.2

  &.reverse
    display: flex
    align-items: center
    background-color: black
    color: white
    p
      margin-left: 3.5rem
      margin-right: 3.5rem
      font-size: 0.95rem
      line-height: 1.5

  .inner
    center(740px)
    padding-top: 2rem
    padding-bottom: 2rem
    & + .inner
    & + .boxed
      padding-top: 0
    .boxed
      padding-bottom: 0

  $boxed-border = 10px
  .boxed
    clearfix()
    padding-top: 3rem
    padding-left: 3rem
    padding-right: 3rem
    padding-bottom: 2rem
    img
      border: $boxed-border solid #666
    img+img
      margin-left: (-1 * $boxed-border)
    & + .inner
      padding-top: 0

.half-col
  float: left
  width: 50%
  box-sizing: border-box

.third-col
  float: left
  width: 33.3%
  box-sizing: border-box

figure
  margin: .2rem 0
  font-size: 0.8rem
  line-height: 1.6
  color: #666
  background-color: white

//- start: parallax section
.main
  // center(1024px)
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

header
  position: relative
  transform: translateZ(-1px) scale(2)

.intro
.parallax .inner
  position: relative
  display: block
  background-color: white
  z-index: 1

.parallax
  center(1024px)
  position: relative
  figure
    margin-top: -5px
  img
    position: relative
    z-index: -2
    width: 1024px
    transform: translateZ(-.2px) scale(1.2)
  .image
    position: relative
    z-index: -2
    width: 1024px
    transform: translateZ(-.2px) scale(1.2)
    background-repeat: no-repeat
    background-position: center
    background-size: cover


.pg3
  .parallax
    height: 600px
    .image
      height: 610px
      background-image: url('/images/IMG_0102.jpg')
.pg4
  .parallax
    height: 650px
    .image
      // height: 768px
      height: 650px
      background: url('/images/IMG_5547.jpg')
.pg6
  .parallax
    height: 650px
    .image
      top: -30px
      height: 768px
      background: url('/images/IMG_5818.jpg')
.pg8
  .parallax
    height: 960px
    .image
      top: -30px
      height: 1024px
      background: url('/images/IMG_5921.jpg')
.pg10
  .parallax
    height: 960px
    .image
      top: -30px
      height: 1024px
      background: url('/images/IMG_6019.jpg')

.pg12
  .parallax
    height: 710px
    .image
      top: -30px
      height: 731px
      background: url('/images/IMG_6093.jpg')

.pg16
  .parallax
    height: 792px
    // .image
    //   top: -30px
    //   height: 792px
    //   background: url('/images/IMG_6314.jpg')

.pg17
  .parallax
    height: 720px
    .image
      top: -30px
      height: 768px
      background: url('/images/IMG_5524.jpg')

.pg18
  .parallax
    height: 790px
    .image
      top: -30px
      height: 811px
      background: url('/images/IMG_4856.jpg')

.pg20
  .parallax
    height: 730px
    .image
      top: -30px
      height: 760px
      background: url('/images/IMG_6417.jpg')
//- end: parallax section

//- start: Pages custom css
.intro
  padding: 1.5rem 0 25rem
  background: white url(/images/large/becak_all.jpg) no-repeat
  background-position: 5rem 12rem

.pg2 > artical
  display: flex
  justify-content: center
  align-items: center
  height: 722px
  background: url(/images/cab-frame-top.png) center no-repeat
  background-size: cover
  img
    border: .9rem solid black

.pg7
  padding-bottom: 7rem
  background: white url(/images/toe-step.png) 0 97% no-repeat
  background-size: contain

.pg11
  background: url(/images/cab-frame-side.png) bottom no-repeat
  background-size: cover

.pg12 > artical
  background-image: url(/images/grill.png)
  background-position: bottom
  background-size: 110%

.pg14 > artical
  background: url(/images/seat-backrest.png)
  background-position: bottom
  background-size: cover

.pg22
.pg23
   picture
     center(400px)
