@import 'jeet'

$breakpoint-page = 1024px
$breakpoint-tablet = 768px
$breakpoint-phone = 640px
// Predefined Break-points
$mediaMaxWidth = 1260px
$mediaBp1Width = 960px
$mediaMinWidth = 480px

$breakpoints = (phone = '640px', tablet = '768px', desktop = '1024px') !default
$v = $breakpoints(tablet)

$hero-border = 6px

html
  font-size: 19px
  font-family: Georgia,'times new roman',Times,serif
  @media(max-width: $mediaBp1Width)
    font-size: 16px

header
  // center(1024px)
  max-width: 1024px
  margin: 0 auto

  nav
    clearfix()
    padding: 15px
    font-size: 0.8rem
    .logo
      display: block
      float: left
      width: 7rem
      font-family: Tahoma, sans-serif
    a
      display: block
      float: right
      white-space: nowrap
      font-family: Tahoma, sans-serif
      margin-left: 2rem
      color: #999
      text-decoration: none
    a:hover
      color: black

//- start: Hero Unit
.hero
.hero-grid
.hero-cell
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  box-sizing: border-box

  h1
    font-weight: normal
    text-align: center

@media(max-width: $breakpoint-phone)
  .hero
    h1
      font-size: 2rem

    .hero-grid
      position: relative
      height: 100vw
      background-image: url(/images/hero/hero-sm.jpg)

    .hero-cell
      position: absolute
      border: 0 solid white
      transition: opacity 400ms ease-in
      width: 50vw
      height: 50vw
      opacity: 0
      &.on
        opacity: 1

    #hero-becak1
      top: 50vw
      background-image: url(/images/hero/IMG_4773.jpg)
      border-width: 0.2rem 0.2rem 0 0

    #hero-becak2
      left: 50vw
      background-image: url(/images/hero/IMG_4784.jpg)
      border-width: 0 0 0.2rem 0.2rem
      &.on
        transition-delay: 300ms
        transition-duration: 600

    #hero-becak3
      left: 50vw
      top: 50vw
      background-image: url(/images/hero/arie-becak.jpg)
      border-width: 0.2rem 0 0 0.2rem
      &.on
        transition-delay: 500ms
        transition-duration: 300

    #hero-becak4
      position: absolute
      background-image: url(/images/hero/_MG_6813.jpg)
      border-width: 0 0.2rem 0.2rem 0
      &.on
        transition-delay: 700ms
        transition-duration: 500

@media(min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet)
  .hero
    position: relative
    width: auto
    height: 500px
    max-height: 65.1vw
    background-image: url(/images/hero/hero-md.jpg)

  .hero-cell
    position: absolute
    border: 0 solid white
    transition: opacity 400ms ease-in
    width: 33.33%
    height: 50%
    opacity: 0
    &.on
      opacity: 1

  #hero-becak1
    top: 50%
    background-image: url(/images/hero/IMG_4773.jpg)
    border-width: 0.2rem 0.2rem 0 0

  #hero-becak2
    left: 66.6%
    background-image: url(/images/hero/IMG_4784.jpg)
    border-width: 0 0 0.2rem 0.2rem
    &.on
      transition-delay: 300ms
      transition-duration: 600

  h1
    position: absolute
    top: 25%
    left: 33.33%
    margin: 0
    height: 50%
    width: 33.33%
    text-align: center
    box-sizing: border-box
    transition: opacity 0.5s ease-in
    background-color: white
    padding-top: 4.2rem
    font-size: 2.2rem
    line-height: 1.4
    color: black
    opacity: 1

@media(min-width: $breakpoint-tablet)
  .hero
    position: relative
    margin-bottom: 10px
    height: 768px
    max-height: 80vw
    background-image: url(/images/hero/becak-lineup.jpg)

  .hero-grid
    position: relative
    height: 100%

  h1
  .hero-cell
    position: absolute
    height: 33%
    width: 25%
    text-align: center
    box-sizing: border-box
    transition: opacity 0.5s ease-in
    border: 0 solid white

  h1
    top: 33%
    left: 50%
    margin: 0
    background-color: white
    padding-top: 4.2rem
    font-size: 2.2rem
    line-height: 1.4
    color: black
    opacity: 1

  #hero-blank-bottom.hero-cell
    top: 66%
    left: 25%
    background-color: white
    opacity: .8

  #hero-becak1.hero-cell
    top: 33%
    border-width: $hero-border $hero-border $hero-border 0
    background: url(/images/hero/IMG_4773.jpg) center no-repeat
    background-size: cover
    opacity: 0

  #hero-becak2.hero-cell
    left: 75%
    border-width: 0 0 $hero-border $hero-border
    background: url(/images/hero/IMG_4784.jpg) center no-repeat
    background-size: cover
    opacity: 0

  #hero-becak3.hero-cell
    top: 66%
    left: 75%
    border-width: $hero-border 0 0 $hero-border
    background: url(/images/hero/arie-becak.jpg) center no-repeat
    background-size: cover
    opacity: 0

  .hero:hover #hero-blank-bottom
  .hero:hover #hero-becak1
  .hero:hover #hero-becak2
  .hero:hover #hero-becak3
    opacity: 1

//- end: Hero Unit

artical
  clearfix()
  display: block
  margin: 0 auto
  width: 1024px
  max-width: 100%
  background-color: white
  background-repeat: no-repeat

  img
    display: block
    height: auto
    max-width: 100%

  p
    margin-bottom: 1.5rem
    line-height: 1.2

  p.heading:first-letter
    float: left
    font-size: 75px
    line-height: 60px
    padding-top: 4px
    padding-right: 8px
    padding-left: 3px

  &.reverse
    padding: 1rem 0 1rem 2rem
    background: black url(/images/pg1-reverse.jpg) 100% 50% no-repeat
    background-size: contain
    color: white
    box-sizing:content-box

    p
      margin-left: 2rem
      margin-right: 40%
      font-size: 0.95rem
      line-height: 1.5
      min-width: 320px
      @media(max-width: $breakpoint-tablet)
        margin-left: 0
        font-size: 0.88rem

  @media(max-width: $breakpoint-phone)
    &.reverse
      background: black url(/images/pg1-reverse-sm.jpg) top center no-repeat
      background-size: contain
      width: auto
      p
        margin-right: 0
        min-width: 0
      p:first-child
        margin-top: 102vw

  .inner
    center(740px)
    max-width: 80%
    padding-top: 2rem
    padding-bottom: 2rem

    & + .inner
    & + .boxed
      padding-top: 0
    .boxed
      padding-bottom: 0

  $boxed-border = 10px
  .boxed
    clearfix()
    padding-top: 3rem
    padding-left: 3rem
    padding-right: 3rem
    padding-bottom: 2rem
    img
      border: $boxed-border solid #666
    img+img
      margin-left: (-1 * $boxed-border)
    & + .inner
      padding-top: 0
    figure
      margin: $boxed-border

.half-col
  float: left
  width: 50%
  box-sizing: border-box

.third-col
  float: left
  width: 33.3%
  box-sizing: border-box

.quarter-col
  float: left
  width: 25%
  box-sizing: border-box

figure
  margin: .25rem 0
  font-size: 0.8rem
  line-height: 1.4
  color: #666
  background-color: white

//- start: parallax section
#main
  perspective: 1px
  transform-style: preserve-3d
  height: 100vh
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

@media(min-width: $breakpoint-tablet)
  header
    position: relative
    transform: translateZ(-1px) scale(2)

.intro
.parallax .inner
  position: relative
  display: block
  background-color: white
  z-index: 1

.parallax
  position: relative
  margin: 0 auto
  max-width: 1024px
  picture
    object-fit: cover
    source
    img
      position: relative
      z-index: -2
      height: auto
      width: 100%
      transform: translateZ(-.2px) scale(1.2)

//- end: parallax section

//- start: Pages custom css
#horizontal
  background: white url(/images/large/becak_all.jpg) no-repeat
  background-position: 70vw -3rem
  height: 40vw
  max-height: 21rem
  background-size: 100%
  @media(max-width: $breakpoint-phone)
    background-position-y: -2rem
    background-position
    height: 38vw
    max-height: none
  // outline: 2px dotted blue
.intro
  padding: 1.5rem 0 0
  .inner
    padding-bottom: 0

.pg2 > artical
  display: flex
  justify-content: center
  align-items: center
  height: 722px
  background: url(/images/cab-frame-top.png) center no-repeat
  background-size: cover
  img
    border: .9rem solid black

.pg7
  padding-bottom: 7rem
  background: white url(/images/toe-step.png) 0 97% no-repeat
  background-size: contain

.pg11
  background: url(/images/cab-frame-side.png) bottom no-repeat
  background-size: cover

.pg12 > artical
  background-image: url(/images/grill.png)
  background-position: bottom
  background-size: 110%

.pg14 > artical
  background: url(/images/seat-backrest.png)
  background-position: bottom
  background-size: cover

.pg22
.pg23
   picture
     center(400px)
