#horizontal
.intro
  position: relative;
  width: 1024px;
  height: 600px;
  margin-left: 0;
  padding: 1.5rem 0 25rem
  background: white url(/images/large/becak_all.jpg) no-repeat
  background-position: 5rem 12rem
  outline: 2px solid blue

.fluff
  height: 300px
  width: 200px
  border: 2px dotted red
