include includes/mixins.pug

doctype html
html
  include includes/head.pug

  body#contact
    #main
      header
        +navigation('contact')
        .hero
          h1 Contact Info
          .hero-grid
            #hero-becak1.hero-cell
            #hero-becak2.hero-cell
            #hero-becak3.hero-cell
            #hero-becak4.hero-cell
            #hero-blank-bottom.hero-cell

      #intro
        article
          .doublemedia
            .media.half-col
              picture.img
                -// source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
                img(src='images/contact/kai-bansner.jpg', width='140', height='140', alt='')

              .bd
                b Kai Bansner
                div Becak Driver
                +link('mailto:kai@becak.bike', 'kai@becak.bike')
                div San Francisco, California
  
            .media.half-col
              picture.img
                -// source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
                img(src='images/contact/arie-dyanto.jpg', width='140', height='140', alt='')

              .bd
                b Arie Dyanto
                div Bike Builder
                +link('mailto:arie_dyanto@yahoo.com', 'arie_dyanto@yahoo.com')
                div Yogyakarta, Indoneasia

            .media.half-col
              picture.img
                img(src='images/contact/sinar-lout.jpg', width='140', height='140', alt='')

              .bd
                b Sinar Lout Becak
                div Jogja Becak Factory
                +link('mailto:vanessayemima9@gmail.com', 'vanessayemima9@gmail.com')
                div
                  +link('https://goo.gl/maps/dETra44msHv', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')

            .media.half-col
              picture.img
                img(src='images/contact/kus.jpg', width='140', height='140', alt='')

              .bd
                b Akasu Art
                div Bike Welder
                a(href='phone:+62 896157744744', title='WhatsApp') WA: +62 896-1577-4744 
                div 

            .media.half-col
              picture.img
                img(src='images/contact/stainless.jpg', width='140', height='140', alt='')

              .bd
                b Bengkel Las Mandiri Surya
                div Stainless Steel Welding &amp; Polishing
                a(href='phone:+62 813-2869-1020') +62 813-2869-1020
                div 
                  +link('https://goo.gl/maps/k6PqfRf2Dys', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')
            .media.half-col
              picture.img
                img(src='images/contact/laser.jpg', width='140', height='140', alt='')

              .bd
                b Dimensi Laser Cutting
                div Seat Leather Marking
                div 
                  +link('https://goo.gl/maps/Wv4M8JZigWN2', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')
            .media.half-col
              picture.img
                img(src='images/contact/upholstery.jpg', width='140', height='140', alt='')

              .bd
                b P. Jar
                div Seat Covers
                a(href='phone:+62 813-9245-2665') +62 813-9245-2665
                div
                  +link('https://goo.gl/maps/U2wph5T7ySH2', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')
                  
            .media.half-col
              picture.img
                img(src='images/contact/yoni-arts.jpg', width='140', height='140', alt='')

              .bd
                b Yoni Arts
                div Wood Finishing
                a(href='phone:+62 813-9200-6944') +62 813-9200-6944
                div
                  +link('https://goo.gl/maps/eRBQ6VC2tnF2', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')

            .media.half-col
              picture.img
                img(src='images/contact/canopy.jpg', width='140', height='140', alt='')

              .bd
                b Bekleding Ba-Ik
                div Canopy Covering
                a(href='phone:+62 877-3834-1377') +62 877-3834-1377
                div 
                  +link('https://goo.gl/maps/k5KnyZFJAz42', 'Yogyakarta, Indonesia')(target='_blank', class='map-link', title='Map Location')

  
      +footer
    +main-js
