include includes/mixins.pug

doctype html
html
  head
    +head('FAQs')
    meta(name="description", content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="http://becak.bike/images/story/IMG_5547.jpg")
    meta(property="og:url" content="http://becak.bike")

  body#faq
    #main
      header
        +navigation('faq')
        .hero

      #intro.pg
        #headline
          h1 FAQs

        article
          .singlemedia
            .media
              div What safety features do you have?

              .bd
                p This bike was built in Indonesia after test riding the best trikes from Denmark and finding them lacking for people transportation. It was made with imported Chromoly steel. The components are all quality brands found on bikes in the United States and Europe. I chose to design a pedicab in the asian Jogja style because these trikes are superior in comfort, style and durability. The Jogja style Becak has a history of over 70 years. Mine has the following safety upgrades:
                p 
                  |- Large 203mm hydraulic front and rear disc brakes
                  br
                  |- Bright LED Headlights
                  br
                  |- Loud Auto Horn
                  br
                  |- Turn Signals &amp; Tail Lights

            .media
              div Why do you want to drive a pedicab?

              .bd
                p I have a Cockatoo who would rather ride a bicycle than fly. Driving a pedicab is a job which keeps me fit and him amused.

            .media
              div How do you say Becak?

              .bd
                p Bet-cha. 
                -//The C is a (ch) and the quiet K is glottle stop.

            .media
              div What made you choose this type of pedicab?

              .bd
                p Initially, I was not intending to build a Becak, but rather to purchas a cargo trike from Denmark add a passenger seat in the front cargo area. In Copenhagen I found that they had bike taxis which rode well, but had small wheels lacked suspension. They were marketed for transporting seniors. These bikes are easy to get into, but they look unattractive and unconforatale, due to lack of suspension.
                p I had visited Indonesia numerous times as a child. That’s where I fell in love with Cockatoos and the iconic Jogja Becak. 

  
      +footer('faq')
    +main-js
