include includes/mixins.pug

doctype html
html
  head
    +head('FAQs')
    meta(name="description", content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="http://becak.bike/images/story/IMG_5547.jpg")
    meta(property="og:url" content="http://becak.bike")

  body#faq
    #main
      header
        +navigation('faq')
        +hero('FAQs')

      #intro.pg
        article
          .singlemedia
            .media
              div What safety features do you have?

              .bd
                p Although this bike was built in Indoneasia, it was designed after test riding the most highly regarded trikes from Denmark and finding them in lacking. My trike frame was built with specially imported Chromoly Steel and my daily supervision. The components are the same quality brands as we see on bikes built in the United States and Europe. I specifically chose to design a pedicab in the asian Jogja style because these trikes have a track recored for comfort, durability, and safety. The Jogja style Becak has a history of over 70 years. My trike is a modern version with the following safety upgrades...

            .media
              div Why do you want to drive a pedicab?

              .bd
                p Duis consequat sempiternum, cillum singulis praetermissum. Laborum ea ipsum probant, velit adipisicing aliquip aliqua singulis. Aliquip praesentibus do possumus ab o velit vidisse consectetur te nisi te laborum et ad est multos laborum.                
                
            .media
              div Why a Jogja Style Becak?

              .bd
                p Duis consequat sempiternum, cillum singulis praetermissum. Laborum ea ipsum probant, velit adipisicing aliquip aliqua singulis. Aliquip praesentibus do possumus ab o velit vidisse consectetur te nisi te laborum et ad est multos laborum.                
                

  
      +footer('faq')
    +main-js
