include includes/mixins.pug

doctype html
html
  head
    +head('Becak: (bet-cha)')
    meta(name="description", content="What is a Becak? Index page for becak.bike")
    meta(property="og:title" content="Building a Jogja Style Becak")
    meta(property="og:description" content="What is a Becak? Index page for becak.bike")
    meta(property="og:image" content="http://becak.bike/images/story/IMG_5547.jpg")
    meta(property="og:url" content="http://becak.bike")

  body#index
    #main

      #intro.pg
        #headline
          h1 
            |Becak: (pronounced bet-cha)
            br 
            |An Indonesian pedicab where the passenger sits in front of the driver on a floaty suspension of leaf springs

        article
          .inner
            ul.navigation
              li 
                a(href='/story.html') Building a Becak in Yogyakarta Indonesia
              li 
                a(href='/plans.html') Plans for a modern Becak 
              li 
                a(href='/contact.html') Build Resources
              li 
                a(href='/faq.html') FAQ

              
