include includes/mixins.pug

doctype html
html
  head
    +head('Becak plans')
    meta(name="description", content="Plans for Jogja style Becak a.k.a. Pedicab or Rickshaw")
    meta(property="og:title" content="Plans for Jogja style Becak")
    meta(property="og:description" content="Designs for an Indoneasian Pedicab")
    meta(property="og:image" content="http://becak.bike/images/story/IMG_5547.jpg")
    meta(property="og:url" content="http://becak.bike/plans.html")

  body#plans
    header
      +navigation('plans')
      .hero

    .pg
      #headline
        h1 Becak Plans

      .inner
        p Below are links to downloadable PDFs of the Becak plans I created with SketchApp for the welders, carpenters, upholsterers. I’ll be adding more details and material specifications as time permits. 

        dl.plan
          dt
            b Overview
            .download
              a(href='images/plans/downloads/cab+frame.pdf') frame+cab.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/cab+frame.pdf')
              picture
                -// source(srcset='images/IMG_5547.jpg', media='(max-width: 900px)') // this works!
                img(src='images/plans/thumbnails/cab+frame-thumbnail.png', width='525', height='245', alt='')

          dt
            b Frame
            .download
              a(href='images/plans/downloads/frame.pdf') frame.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/frame.pdf')
              picture
                img(src='images/plans/thumbnails/frame-thumbnail.png', width='450', height='275', alt='')

          dt
            b Cab Frame Side
            .download
              a(href='images/plans/downloads/cab-frame-side.pdf') cab-frame-side.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/cab-frame-side.pdf')
              picture
                img(src='images/plans/thumbnails/cab-frame-side-thumbnail.png', width='275', height='263', alt='')

          dt
            b Cab Frame Top
            .download
              a(href='images/plans/downloads/cab-frame-top.pdf') cab-frame-top.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/cab-frame-top.pdf')
              picture
                img(src='images/plans/thumbnails/cab-frame-top-thumbnail.png', width='415', height='300', alt='')
          
          dt
            b Cab Seat Structure
            .download
              a(href='images/plans/downloads/cab-seat-structure.pdf') cab-seat-structure.pdf
              |version 1.0
              br
              |Materials
              br 
              |2cm and 3cm flat bar
              br
              |Steel rod solid and tubular
          dd
            a(href='images/plans/downloads/cab-seat-structure.pdf')
              picture
                img(src='images/plans/thumbnails/cab-seat-structure-thumbnail.png', width='400', height='175', alt='')

          dt
            b Cab Seat Sheet Metal
            .download
              a(href='images/plans/downloads/cab-seat-sheet-metal.pdf') cab-seat-sheet-metal.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/cab-seat-sheet-metal.pdf')
              picture
                img(src='images/plans/thumbnails/cab-seat-sheet-metal-thumbnail.png', width='400', height='175', alt='')

          dt
            b Decorative Tubing
            .download
              a(href='images/plans/downloads/decorative-tubing.pdf') decorative-tubing.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/decorative-tubing.pdf')
              picture
                img(src='images/plans/thumbnails/decorative-tubing-thumbnail.png', width='400', height='225', alt='')

          dt
            b Above
            .download
              a(href='images/plans/downloads/above.pdf') decorative-tubing.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/above.pdf')
              picture
                img(src='images/plans/thumbnails/above-thumbnail.png', width='400', height='300', alt='')

          dt
            b Wood Seat Back Side
            .download
              a(href='images/plans/downloads/wood-seat-back-side.pdf') wood-seat-back-side.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/wood-seat-back-side.pdf')
              picture
                img(src='images/plans/thumbnails/wood-seat-back-side-thumbnail.png', width='265', height='185', alt='')

          dt
            b Wood Seat Back
            .download
              a(href='images/plans/downloads/wood-seat-back.pdf') wood-seat-back.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/wood-seat-back.pdf')
              picture
                img(src='images/plans/thumbnails/wood-seat-back-thumbnail.png', width='450', height='265', alt='')

          dt
            b Wood Floor &amp; Foot Box Side
            .download
              a(href='images/plans/downloads/wood-floor+foot-box.pdf') wood-floor+foot-box.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/wood-floor+foot-box.pdf')
              picture
                img(src='images/plans/thumbnails/wood-floor+foot-box-thumbnail.png', width='350', height='175', alt='')

          dt
            b Cusion Seat Frame
            .download
              a(href='images/plans/downloads/cusion-seat-frame.pdf') cusion-seat-frame.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/cusion-seat-frame.pdf')
              picture
                img(src='images/plans/thumbnails/cusion-seat-frame-thumbnail.png', width='265', height='175', alt='')

          dt
            b Seat Bottom Tabs
            .download
              a(href='images/plans/downloads/seat-bottom-tabs.pdf') seat-bottom-tabs.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/seat-bottom-tabs.pdf')
              picture
                img(src='images/plans/thumbnails/seat-bottom-tabs-thumbnail.png', width='150', height='190', alt='')

          dt
            b Canopy Down
            .download
              a(href='images/plans/downloads/canopy-down.pdf') canopy-down.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/canopy-down.pdf')
              picture
                img(src='images/plans/thumbnails/canopy-down-thumbnail.png', width='256', height='175', alt='')

          dt
            b Canopy up
            .download
              a(href='images/plans/downloads/canopy-up.pdf') canopy-up.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/canopy-up.pdf')
              picture
                img(src='images/plans/thumbnails/canopy-up-thumbnail.png', width='256', height='175', alt='')

          dt
            b Canopy Heart
            .download
              a(href='images/plans/downloads/canopy-heart.pdf') canopy-heart.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/canopy-heart.pdf')
              picture
                img(src='images/plans/thumbnails/canopy-heart-thumbnail.png', width='60', height='100', alt='')

          dt
            b Canopy Parts
            .download
              a(href='images/plans/downloads/canopy-parts.pdf') canopy-parts.pdf
              |version 1.0
          dd
            a(href='images/plans/downloads/canopy-parts.pdf')
              picture
                img(src='images/plans/thumbnails/canopy-parts-thumbnail.png', width='160', height='100', alt='')

    +footer('plans')
  +main-js
