include includes/mixins.pug

doctype html
html
  include includes/head.pug

  body#plans
    #main
      header
        +navigation('plans')
        .hero
          h1 Becak Plans
          .hero-grid
            #hero-becak1.hero-cell
            #hero-becak2.hero-cell
            #hero-becak3.hero-cell
            #hero-becak4.hero-cell
            #hero-blank-bottom.hero-cell

  script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")

  script(type='text/javascript').
    $(document).ready(function () {
      setTimeout(function(){$('.hero').addClass('loaded')}, 1200);
    });
