doctype html
html
  head
    link(href='/css/normalize-min.css', rel='stylesheet', type='text/css')
    link(href='/css/reflect.css', rel='stylesheet', type='text/css')
    title Reflect

  body
    img.reflect(src='images/IMG_5370.jpg', width='512px', alt='')

    .shadow
      picture
        img(srcset='images/IMG_5370.jpg')
      
