mixin head(pageTitle)
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-50336213-2")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-50336213-2');

  link(href='/css/normalize-min.css', rel='stylesheet', type='text/css')
  link(href='/css/main.css', rel='stylesheet', type='text/css')
  title 
    |Becak.bike: 
    =pageTitle


mixin link(href, name)
  a(href=href)&attributes(attributes)= name

mixin navigation(page)
  nav
    +link('index.html', 'Becak.bike')(class={'logo':true,'on':page == 'index'})
    +link('contact.html', 'Contact Resources')(class={'on':page == 'contact'})
    +link('plans.html', 'Becak Plans')(class={'on':page == 'plans'})
    -// +link('index.html', 'Tours')(class={'on':page == 'tours'})

mixin hero(title)
  .hero
    .hero-grid
      #hero-becak1.hero-cell
      #hero-becak2.hero-cell
      #hero-becak3.hero-cell
      #hero-becak4.hero-cell
      #hero-blank-bottom.hero-cell
    h1 
      span 
        =title

mixin footer
  footer
    a.top(href='javascript:$(\'#main\').scrollTop(0);', title='Back to top') Top

mixin main-js
  script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")

  script(type='text/javascript').
    $(document).ready(function () { 
      $('#main').addClass('is-js');
      setTimeout(function(){$('.hero').addClass('loaded')}, 1200); 
      
      $('#hero-blank-bottom').on('click', function(){
        var delay = 100;
        var $storyHero = $('#story .hero');
        if ($storyHero.length) {
          $storyHero.addClass('on');
          delay = 1500
        }
        setTimeout(function(){
          var y = $('#intro').offset().top;
          $('#main').animate({scrollTop: (y-2) }, 1000, 'swing');          
        }, delay);
      });
    });
    
