mixin link(href, name)
  a(href=href)&attributes(attributes)= name

mixin navigation(page)
  nav
    +link('index.html', 'Becak.bike')(class={'logo':true,'on':page == 'index'})
    +link('contact.html', 'Contact Info')(class={'on':page == 'contact'})
    +link('plans.html', 'Becak Plans')(class={'on':page == 'plans'})
    +link('index.html', 'Tours')(class={'on':page == 'tours'})

mixin footer
  footer
    a(href='javascript:$(\'#main\').scrollTop(0);') Back to top

mixin main-js
  script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")

  script(type='text/javascript').
    $(document).ready(function () { 
      $('#main').addClass('is-js');
      setTimeout(function(){$('.hero').addClass('loaded')}, 1200); 
      
      $('#hero-blank-bottom').on('click', function(){
        var y = $('#intro').offset().top;
        $('#main').animate({scrollTop: (y-2) }, 1000, 'swing');
      });
    });
    
