mixin link(href, name)
  a(href=href+'.html')&attributes(attributes)= name

mixin navigation(page)
  nav
    +link('index', 'Becak.bike')(class={'logo':true,'on':page == 'index'})
    +link('contact', 'Contact Info')(class={'on':page == 'contact'})
    +link('plans', 'Becak Plans')(class={'on':page == 'plans'})
    +link('index', 'Tours')(class={'on':page == 'tours'})
